@import "bootstrap.min.css";

/****************
**COLORS
*****************/

$red: #333333;
$green: #001eff;
$title: #666;



.h1, h1 {
    font-size: 39px;
}


/****************
**HEADER
*****************/

.header{
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  overflow: hidden;
  width: 100%;
  &__logo{
    padding: 0;
    & img{
      max-width: 200px;
    }
  }
}
a.header__btn-mobile.btn {
    padding: 0;
    font-size: 2em;
}


/****************
**PRODUCT
*****************/

.product{
  &__name{
    color: $title;
    text-align: center;
    font-weight: 200;
  }
  &__gallery{
    &.img-wrap{
      text-align: center;
    }
  }
  &__price{
    display: block;
    font-size: 2em;
    text-align: center;
  }
  &__btn{
    border-radius: 0;
    margin-bottom: 20px;
  }
}


/****************
**FOOTER
*****************/
.footer{
  border-top: 1px solid #ccc;
  padding: 1rem;
}


/****************
**FORM VALIDATIONS USE ANGULAR CLASS
*****************/


.ng-dirty{

  &.ng-valid{
    border-color: $green;
  }
  &.ng-invalid{
    border-color: $red;
  }
}

/****************
**BTN
*****************/

.btn {
    border-radius: 0;
}


.img-wrap img {
    width: 300px;
}
.thumbnail>img {
    margin-right: auto;
    margin-left: auto;
    width: 50px;
}


@media screen and (max-width: 789px) {
  .header{
    background: #fff;
    position: fixed;
    z-index: 999;
  }
  .product{
    margin-top: 85px;
  }
}
